@import "src/assets/variables.scss";

.map {
  svg {
    width: 500px;
    height: 500px;
    rect {
      position: relative;
      &.Free {
        fill: $free-desk-background;

        &:hover {
          cursor: pointer;
        }
      }
      &.Claimed {
        fill: $claimed-desk-background;
      }
      &.selected {
        fill: #3274d6;
      }
      &.Broken {
        fill: $blocked-desk-background;
      }

      &.Claimed,
      &.selected,
      &.Broken {
        &:hover {
          cursor: auto;
        }
      }
    }
  }
  .react-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.3rem;
    .title {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.2rem;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .wrapper-left,
      .wrapper-right {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 0.4rem;
      }
      .wrapper-right {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
