@import "src/assets/variables.scss";

.chooseBox {
  width: 20rem;
  height: 4rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: $defaul-shadow;
  background-color: $bg-color;
  text-align: center;
}
