@import "src/assets/variables.scss";
.chooseBox {
  position: relative;
  .select {
    width: 20rem;
    height: 4rem;
    padding: 01rem;
    color: $text-color;
    font-size: 1.3rem;
    font-family: "Nunito", sans-serif;
    border-radius: 0.3rem;
    border: none;
    box-shadow: $defaul-shadow;
    background-color: $bg-color;
    text-align: center;
  }
  &.floor {
    &::before {
      content: "Piętro";
    }
  }
  &.room {
    &::before {
      content: "Pokój";
    }
  }
  &.desk {
    &::before {
      content: "Biurko";
    }
  }
  &::before {
    position: absolute;
    top: -0.8rem;
    left: 1rem;
    font-size: 0.8rem;
    padding: 0.4rem;
    background-color: $bg-color;
  }
}
