//default colors
$bg-color: #f5f5f5;
$text-color: #061826;
$main-color: #0471a6;

//buttons
$btn-bg-color: #0471a6;
$btn-text-color: #dedede;

//navigation hover
$nav-hover-text-color: #fff;
$nav-hover-bg-color: #0471a6;

//desk status colors
$free-desk-background: #26c485;
$claimed-desk-background: #ff5a5f;
$blocked-desk-background: #7d7d7d;

//pop-up
$popup-bg-color: #061826;
$popup-text-color: #d2d2d2;

//shadows
$defaul-shadow: 2px 4px 6px 1px #01111170;

//table
$odd-bg-color: #0471a6;
$odd-text-color: #fff;
$disabled-pagination-text: #a7a7a7;
