//default colors
$bg-color: #d9d9d9;
$text-color: #061826;

//buttons
$btn-bg-color: #0471a6;
$btn-text-color: #dedede;

//navigation hover
$nav-hover-text-color: #dedede;
$nav-hover-bg-color: #0471a6;

//desk status colors
$free-desk-background: #26c485;
$claimed-desk-background: #ff5a5f;
$blocked-desk-background: #7d7d7d;

//pop-up
$popup-bg-color: #061826;
$popup-text-color: #d2d2d2;
